<h1 align="center" class="h1">{{movie.title}}</h1>
<div class="container">
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5">
		<img src="{{'http://image.tmdb.org/t/p/w342'+movie.poster_path}}" />
		<br><br><a href="{{'#/page/'+previousPage}}" class="btn btn-info">Powrót</a>
	</div>
	<div class="col-md-5">
		<br><br><p><b>Data premiery: </b>{{movie.release_date}}</p>
		<p><b>Średnia ocena: </b>{{movie.vote_average}}</p>
		<p><b>Gatunki: </b><span ng-repeat="genre in movie.genres">{{genre.name+' '}}</span></p>
		<p><b>Opis: </b><br>{{movie.overview}}</p>
		<p><b>Produkcja: </b><span ng-repeat="country in movie.production_countries">{{country.name}}</span></p>
	</div>
	<div class="col-md-1"></div>
</div>	
</div>
