<!-- lista filmów -->
<h1 align="center" class="h1">Lista filmów</h1>
<p align="center">Strona {{data.page}} z {{data.total_pages}}</p>
<div align="center">
<table class="table table-striped table-bordered table-hover" id="movieList">
	<thead>
		<tr>
			<th width="95">Okładka</th>
			<th>Tytuł filmu</th>
			<th width="140">Data premiery</th>
			<th width="70">Ocena</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="movie in data.results">
			<td><img src="{{'http://image.tmdb.org/t/p/w92'+movie.poster_path}}"/></td>
			<td class="tdTableMovies">
				<a href="{{ '#/view/'+data.page+'/'+movie.id }}">{{movie.title}}</a>
				<br><br>
				<p class="genre">
					Gatunek: 
					<span ng-repeat="genreId in movie.genre_ids">
						<span ng-repeat="genre in genresList">
							<span ng-if="genre.id==genreId">
								{{genre.name}}
							</span>
						</span>
					</span>
				</p>
			</td>
			<td class="tdTableMovies">{{ movie.release_date }}</td>
			<td class="tdTableMovies">{{ movie.vote_average | number:1 }}</td>
		</tr>
	</tbody>
</table>
<a class="btn btn-info" href="{{'#/page/'+(data.page - 1)}}" ng-if="data.page>1">Poprzednia strona</a>
<a class="btn btn-info" href="{{'#/page/'+(data.page + 1)}}" ng-if="data.page<data.total_pages">Następna strona</a>
</div>